In [1]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.set_project('feb2021-fyers-challenge')
jovian.set_colab_id('1VTODGd7Wm6vUdTuLL-1TvASKFyEg62w9')

In [2]:
!pip install jovian --upgrade --quiet

In [3]:
#Checking reading of the csv file using the pandas dataframe
import pandas as pd
data = pd.read_csv('/content/sample_data/airlines.csv')

In [4]:
data.head(5)

  Airport.Code  ... Statistics.Flights.Cancelled
0          ATL  ...                          216
1          BOS  ...                          138
2          BWI  ...                           29
3          CLT  ...                           73
4          DCA  ...                           74

[5 rows x 4 columns]

In [5]:
jovian.commit()

[jovian] Detected Colab notebook...
[jovian] Please enter your API key ( from https://jovian.ai/ ):
API KEY: ··········
[jovian] Uploading colab notebook to Jovian...
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ai/pknayak0707-job/feb2021-fyers-challenge

'https://jovian.ai/pknayak0707-job/feb2021-fyers-challenge'

# The code(Solution) for the challenge starts from here onwards

Use Python to perform below

    Open the file using python
    Read every line in the file
    Output 1: Get list of unique airport names and number of times it is repeated in a json format
    Output 2: Which airport is mentioned highest number of times and its count
    Output 3: Which airport is mentioned lowest number of times and its count
    Print the outputs

In [41]:
import csv
airport_names = []

#Open the file using python
with open('/content/sample_data/airlines.csv') as csv_file:
# the path should be changed to the path where the file is present
# in google colab the path should be '/content/sample_data/airlines.csv'
# when running in local system the path should be '/airlines.csv'

  reader = csv.reader(csv_file)
  for row in reader:
    #Read every line in the file in converting each into list containing the vlaues
    #print(row[1])
    airport_names.append(row[1])

In [43]:
#counting the occurences of the the airports
temp=set(airport_names)
result={}
for i in temp:
    result[i]=airport_names.count(i)
#print(type(result))

In [45]:
#sorting the dictionary
sorted_result = {}
sorted_keys = sorted(result, key=result.get)  # [1, 3, 2]

for w in sorted_keys:
    sorted_result[w] = result[w]
  
#print(sorted_result)

In [46]:
import json
json_object = json.dumps(sorted_result, indent = 4)
print('List of unique airport names and number of times it is repeated in a json format')
print(json_object)

List of unique airport names and number of times it is repeated in a json format
{
    "Airport.Name": 1,
    "Phoenix, AZ: Phoenix Sky Harbor International": 137,
    "San Francisco, CA: San Francisco International": 149,
    "Salt Lake City, UT: Salt Lake City International": 149,
    "Seattle, WA: Seattle/Tacoma International": 149,
    "Portland, OR: Portland International": 149,
    "Philadelphia, PA: Philadelphia International": 149,
    "San Diego, CA: San Diego International": 149,
    "Tampa, FL: Tampa International": 149,
    "Los Angeles, CA: Los Angeles International": 150,
    "Washington, DC: Washington Dulles International": 150,
    "Boston, MA: Logan International": 150,
    "Detroit, MI: Detroit Metro Wayne County": 150,
    "Orlando, FL: Orlando International": 150,
    "Baltimore, MD: Baltimore/Washington International Thurgood Marshall": 150,
    "Dallas/Fort Worth, TX: Dallas/Fort Worth International": 150,
    "Minneapolis, MN: Minneapolis-St Paul International": 150,
    "New York, NY: LaGuardia": 150,
    "Fort Lauderdale, FL: Fort Lauderdale-Hollywood International": 150,
    "Chicago, IL: Chicago O'Hare International": 150,
    "Las Vegas, NV: McCarran International": 150,
    "Houston, TX: George Bush Intercontinental/Houston": 150,
    "Miami, FL: Miami International": 150,
    "Denver, CO: Denver International": 150,
    "Charlotte, NC: Charlotte Douglas International": 150,
    "Chicago, IL: Chicago Midway International": 150,
    "Washington, DC: Ronald Reagan Washington National": 150,
    "New York, NY: John F. Kennedy International": 150,
    "Newark, NJ: Newark Liberty International": 150,
    "Atlanta, GA: Hartsfield-Jackson Atlanta International": 154
}

In [47]:
print('“Name and count of the airport which is mentioned the most number of time” : {0} and {1} respectively'.format(list(sorted_result)[-1],sorted_result[list(sorted_result)[-1]]))
print('“Name and count of the airport which is mentioned the least number of time” : {0} and {1} respectively'.format(list(sorted_result)[1],sorted_result[list(sorted_result)[1]])) #least number of time occurred

“Name and count of the airport which is mentioned the most number of time” : Atlanta, GA: Hartsfield-Jackson Atlanta International and 154 respectively
“Name and count of the airport which is mentioned the least number of time” : Phoenix, AZ: Phoenix Sky Harbor International and 137 respectively